body
{
    padding: 20px 0;
    color: #40409b;
}

.kerek
{
    border-radius: 30px;
}

.bal
{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    background: #99cde2;
    padding: 20px;
}

.minuszmargo
{
    margin-top: -60px;
}

.keretes
{
    border: 5px solid white;
    border-radius: 15px;
    margin-top: 30px;
}

.sorkizart
{
    text-align: justify;
}

.icon
{
    height: 150px;
    display: block;
    margin: 0 auto;
}

#narancs_ragyogas
{
-webkit-filter: drop-shadow(0px 0px 15px orange);
filter: drop-shadow(0px 0px 15px orange);
}
#zold_ragyogas
{
-webkit-filter: drop-shadow(0px 0px 15px green);
filter: drop-shadow(0px 0px 15px green);
}


.kozepre
{
    text-align: center;
}

#nyil
{
    height: 1em;
}

body
{
    background:#f1fbff;
}